.rojo {color: red;}

.rojo {color: red;}

.azul {color: rebeccapurple;}

#salarios{
    width: 100%;

}


#salarios thead, #salarios tfoot{
    background-color: teal;
    color: white;
}

#salarios th, #salarios td{
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.derecha{
    text-align: right;
}

#salarios tbody tr:nth-child(even){
    background-color: white;
}

#salarios tbody tr:nth-child(odd){
    background-color: blueviolet   
}